<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLI</title>
</head>

<body style="font-size: 150%;">
    <h2> Question.question :</h2>
    <ol>
        <li>Question.choix_reponse[0]</li>
        <li>Question.choix_reponse[1]</li>
        <li>...</li>
        <p>Votre réponse: (input)</p>
    </ol>
    <h5>Question.etat_booleenne_reponse</h5>
    <p>Question.prochaine_question()</p>
</body>

</html>