<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #contenu{
            text-align: center;
            font-size: 200%;
        };

    </style>
</head>
<body style="background-color:rgb(171, 155, 85)">
    <div id="contenu">
        <h2>Question.question</h2>
        <input type="button" value="Question.choix_reponse[0]" onclick="myFunction()">
        <input type="button" value="Question.choix_reponse[1]" onclick="myFunction()">
        <br><br>

        <input type="button" value="Question.choix_reponse[2]" onclick="myFunction()">
        <input type="button" value="Question.choix_reponse[3]" onclick="myFunction()">
        <br><br>
        <p id="my_paragraph" style="color: rgb(255, 255, 0);"></p>
    </div>
    <script>
        function myFunction() {
            document.getElementById("my_paragraph").innerHTML = "Question.etat_booleen_reponse";
        }

    </script>
</body>
</html>